<div class="card-carousel-container">
    <div class="card-carousel">


      <!--CARD ONE-->







      <div class="card">
        <div class="card-image"></div>
        <div class="card-body">
          <h3 class="card-heading">Client One</h3>
          <ul class="list card-list">
            <li class="list-item"><span class="fa-solid fa-check"></span> Social Media Content</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> Branding Strategy Call</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> 1 Year Business Plan</li>
          </ul>
          <a class="btn btn--small btn--primary">View Work <span class="fa-solid fa-arrow-right-long"></span></a>
        </div>
      </div>




      <!--CARD TWO-->







      <div class="card">
        <div class="card-image"></div>
        <div class="card-body">
          <h3 class="card-heading">Client Two</h3>
          <ul class="list card-list">
            <li class="list-item"><span class="fa-solid fa-check"></span> Social Media Content</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> Branding Strategy Call</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> 1 Year Business Plan</li>
          </ul>
          <a class="btn btn--small btn--primary">View Work <span class="fa-solid fa-arrow-right-long"></span></a>
        </div>
      </div>


      <!--CARD THREE-->



      <div class="card">
        <div class="card-image"></div>
        <div class="card-body">
          <h3 class="card-heading">Client Three</h3>
          <ul class="list card-list">
            <li class="list-item"><span class="fa-solid fa-check"></span> Social Media Content</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> Branding Strategy Call</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> 1 Year Business Plan</li>
          </ul>
          <a class="btn btn--small btn--primary">View Work <span class="fa-solid fa-arrow-right-long"></span></a>
        </div>
      </div>



      <!--CARD FOUR-->



      <div class="card">
        <div class="card-image"></div>
        <div class="card-body">
          <h3 class="card-heading">Client Four</h3>
          <ul class="list card-list">
            <li class="list-item"><span class="fa-solid fa-check"></span> Social Media Content</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> Branding Strategy Call</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> 1 Year Business Plan</li>
          </ul>
          <a class="btn btn--small btn--primary">View Work <span class="fa-solid fa-arrow-right-long"></span></a>
        </div>
      </div>



      <!--CARD FIVE-->



      <div class="card">
        <div class="card-image"></div>
        <div class="card-body">
          <h3 class="card-heading">Client Five</h3>
          <ul class="list card-list">
            <li class="list-item"><span class="fa-solid fa-check"></span> Social Media Content</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> Branding Strategy Call</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> 1 Year Business Plan</li>
          </ul>
          <a class="btn btn--small btn--primary">View Work <span class="fa-solid fa-arrow-right-long"></span></a>
        </div>
      </div>



      <!--CARD SIX-->



      <div class="card">
        <div class="card-image"></div>
        <div class="card-body">
          <h3 class="card-heading">Client Six</h3>
          <ul class="list card-list">
            <li class="list-item"><span class="fa-solid fa-check"></span> Social Media Content</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> Branding Strategy Call</li>
            <li class="list-item"><span class="fa-solid fa-check"></span> 1 Year Business Plan</li>
          </ul>
          <a class="btn btn--small btn--primary">View Work <span class="fa-solid fa-arrow-right-long"></span></a>
        </div>
      </div>




    </div>
    <div class="arrow arrow--left"><span class="fa-solid fa-arrow-left-long"></span></div>
    <div class="arrow arrow--right"><span class="fa-solid fa-arrow-right-long"></span></div>
  </div>