<div class="input-group">
    <input type="text" class="input input--black" id="first-name" name="first-name" placeholder="First Name" autofocus>
    <input type="text" class="input input--black" id="last-name" name="last-name" placeholder="Last Name">
</div>
<input type="email" class="input input--black input--stretched" id="email" name="email" placeholder="Email">

<br><br><br><br>


<div class="input-group">
  <input type="text" class="input input--white" id="first-name" name="first-name" placeholder="First Name" autofocus>
  <input type="text" class="input input--white" id="last-name" name="last-name" placeholder="Last Name">
</div>
<input type="email" class="input input--white input--stretched" id="email" name="email" placeholder="Email">

