<div class="testimonials">
    <div class="banner testimonials__banner testimonials__banner--top">
      <p>Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials </p>
    </div>
    <div class="testimonial">

      <div class="heart"><img src="img/68.jpg" alt="" class="testimonial__img"></div>
      <blockquote>I can't thank you enough for everything you've done for my business!</blockquote>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi aperiam fugit quasi provident blanditiis. Iste amet quo sequi. Odio iusto corrupti alias iste quas cupiditate?</p>
    </div>
    
    <div class="banner testimonials__banner testimonials__banner--bottom">
      <p>Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials Testimonials </p>
    </div>
  </div>